<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="storeFrontMasterPage.master.cs" Inherits="PROJECTOFINAL.storeFrontMasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">

  <title>ITpharma - Health around the corner</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="StoreFront/css/modern-business.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/7d8b56b46a.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


  <!-- CONTEUDO HEAD MASTER -->
  <asp:ContentPlaceHolder ID="head" runat="server">
  </asp:ContentPlaceHolder>
  <!-- CONTEUDO HEAD MASTER -->


  <style>

      /* width */
      ::-webkit-scrollbar {
          width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
          background: transparent;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
          background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
          background: #555;
      }

      #modal-body-recover{

          display:none;
      }

      .resizeImg {
        max-width:150px;
        max-height:auto;
      }
      .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #B5EE9B;
        transition: all 1s ease;
      }



      /* SEARCH CSS */

      #searchBox{

          border-top: none;
          border-right: none;
          border-left: none;
          border-radius: 20px;
      }

      /* UNDER NAV */

      #undernav{
          /*background-color: #95D426;*/
          background-color: #8DC942;
      }


  </style>


</head>
<body>
    <form id="form1" runat="server">

        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light fixed-top py-3 pb-1 bg-white shadow shadow-sm">
            <div class="container">
                <a class="navbar-brand text-dark" href="storeFront-Index.aspx">
                    <img src="Resources/images/PHARMALOGOTEMP.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    ITpharma
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">


                    <div class="navbar-nav ml-auto my-2 my-lg-0">
                        <asp:TextBox ID="searchBox" runat="server" OnTextChanged="searchBox_TextChanged" class="form-control mr-sm-2 bg-light" type="search" aria-label="Search" placeholder="Search"></asp:TextBox>
                        <button class="nav-link btn bg-transparent my-2 my-sm-0" formnovalidate="formnovalidate"><i class="fas fa-search"></i></button>
                    </div>


                    <ul class="navbar-nav ml-auto">

                         <li class="nav-item">
                            <a href="storeFront-Shop.aspx" class="nav-link bg-transparent">Loja</a>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="nav-link btn bg-transparent" data-toggle="modal" data-target="#login-modal" formnovalidate="formnovalidate"><i class="fas fa-user-circle"></i></button>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="nav-link btn bg-transparent" id="modal-cart" data-toggle="modal" data-target="#cartModal" formnovalidate="formnovalidate"><i class="fas fa-shopping-cart"></i></button>
                        </li>

                    </ul>
                </div>
            </div>
          
        </nav>

        <nav id="undernav" class="nav pb-3 pt-3 fixed-top shadow" style="margin-top: 4.5em">
            <div class="col-lg-2">

            </div>
        </nav>




        <!-- CONTEUDO BODY MASTER -->
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <!-- //CONTEUDO BODY MASTER -->


        <!-- Bootstrap core JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



        <!-- LOGIN MODAL -->
        <asp:UpdatePanel ID="upd_login" runat="server" UpdateMode="Conditional">
            <ContentTemplate>

        <!-- Modal -->
        <div class="modal fade" id="login-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="border-radius: 20px;">
                    <div class="modal-header bg-white d-block" style="background: rgb(237,246,251); background: linear-gradient(90deg, rgba(237,246,251,1) 0%, rgba(144,213,227,1) 100%); border-top-left-radius: 20px; border-top-right-radius: 20px;">


                        <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h3 class="text-center ml-4 text-white">Sign in</h3>

                        <div class="row d-flex justify-content-center mt-4">

                                <div> <!-- GOOGLE -->
                                     <asp:LinkButton ID="googleLogin" runat="server" style="padding-left: 3em; padding-right: 3em;" CausesValidation="False" data-provider="google" OnClick="socialLogin" ><i class="fab fa-google"></i></asp:LinkButton>
                                </div>

                                <div> <!-- FACEBOOK -->
                                     <asp:LinkButton ID="facebookLogin" runat="server" style="padding-left: 3em; padding-right: 3em;" CausesValidation="False" data-provider="facebook" OnClick="socialLogin"><i class="fab fa-facebook-f"></i></asp:LinkButton>
                                </div>

                        </div>
                    </div>


                    <div class="modal-body">

                        <asp:UpdatePanel runat="server">
                            <ContentTemplate>

                                <div class="container mt-3 justify-content-center text-center" style="max-height: 17em; min-height: 17em;">

                                    <ul class="nav nav-pills mb-4 d-inline-blcok align-content-center" id="myTab" role="tablist">

                                        <li class="nav-item col-6">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Sign In</a>
                                        </li>

                                        <li class="nav-item col-6">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#recover" role="tab" aria-controls="recover" aria-selected="false">Recover</a>
                                        </li>

                                    </ul>


                                    <div class="tab-content" id="myTabContent">

                                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">

                                            <div class="form-group">
                                                <input type="email" class="form-control rounded-pill" id="txt_loginEmail" runat="server" aria-describedby="emailHelp" placeholder="Enter email">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-control rounded-pill" runat="server" id="txt_loginPassword" placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <asp:Button ID="btn_login" runat="server" CssClass="btn text-white border-0 btn-block rounded-pill" OnClick="btn_login_Click" Style="background: rgb(237,246,251); background: linear-gradient(90deg, rgba(237,246,251,1) 0%, rgba(144,213,227,1) 100%);" Text="Login" />
                                            </div>

                                            <div class="form-group text-center">
                                                <label id="lbl_loginWarning" runat="server" class="col-form-label"></label>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="recover" role="tabpanel" aria-labelledby="profile-tab">

                                            <div class="form-group">
                                                <input type="email" class="form-control rounded-pill" runat="server" id="txt_recoverPassword" placeholder="Your email">
                                            </div>

                                            <div class="form-group">
                                                <asp:Button ID="btn_recoverPassword" runat="server" OnClick="btn_recoverPassword_Click" CssClass="btn text-white border-0 w-50 rounded-pill" Style="background: rgb(237,246,251); background: linear-gradient(90deg, rgba(237,246,251,1) 0%, rgba(144,213,227,1) 100%);" Text="Recover" />
                                            </div>

                                            <div class="form-group text-center">
                                                <label id="lbl_recoverWarning" runat="server" class="col-form-label"></label>
                                            </div>

                                        </div>

                                    </div>


                                </div>



                                <!-- CONTENT -->
                                

                        <!-- RECOVER PASSWORD -->

                 
                         <!-- //RECOVER PASSWORD -->


                            </ContentTemplate>
                        </asp:UpdatePanel>

                    </div>
                        <!-- //CONTENT -->

                </div>
            </div>
        </div>
        <!-- //Modal -->

           </ContentTemplate>
        </asp:UpdatePanel>

        <!-- LOGIN MODAL -->


        <!-- SHOPPING CART MODAL -->
            <div class="modal fade" id="cartModal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Your Cart Items</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                                                                                             
             <asp:Repeater ID="rpt_carrinho" runat="server" DataSourceID="SqlSourceCart" OnItemCommand="rpt_carrinho_ItemCommand" OnItemDataBound="rpt_carrinho_ItemDataBound">
                          
        <HeaderTemplate>
            <div class="container d-flex justify-content-center" >
                        <div class="table-responsive-xl">
                        <table class="table table-light table-bordered table-striped table-hover w-auto">
                            <thead class="thead-light">
                        <tr> 
                            <th class="text-center"></th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Item Total</th>
                            
                            <th></th>                           
                        </tr>  
                                </thead>
        </HeaderTemplate>
            <ItemTemplate>
                
                    
                     <tr class="text-center">
                                                                  
                          <td class="align-middle">
                                    <img src="<%# "data: image; base64," + Convert.ToBase64String((byte[])Eval("ProdImage")) %>" class="resizeImg" alt="prod_image" />
                                </td>
                                <td class="align-middle">
                                    <label class="col-form-label"><%# Eval("ProdName") %></label>
                                </td>
                                <td class="align-middle">
                                    <label class="col-form-label"><%# Eval("Unit Price") %> €</label>
                                </td>
                                <td class="align-middle">
                                    <label class="col-form-label"><%# Eval("Qty") %></label>
                                </td>
                                <td class="align-middle">
                                    <label class="col-form-label"><%# Eval("itemTotalPrice") %> €</label>
                                </td>


                            <td class="align-middle">
                                <asp:ImageButton ID="btn_removeItem" CommandName="btn_removeItem" ImageURL="~/Resources/images/criss-cross.png" runat="server" formnovalidate="formnovalidate"/>
                            </td>
                     </tr>
                </ItemTemplate>

        <FooterTemplate>
            
                    </table>
                    </div>
                    </div>
                </FooterTemplate>

    </asp:Repeater>


                      <asp:SqlDataSource ID="SqlSourceCart" runat="server" ConnectionString="<%$ ConnectionStrings:ITpharmaConnectionString %>" SelectCommand="usp_returnUserCartItems" SelectCommandType="StoredProcedure">
                          <SelectParameters>
                              <asp:Parameter Name="id_cliente" Type="Int32" DefaultValue="0" />
                              <asp:CookieParameter CookieName="noLogID" Name="cookies" Type="String" />
                          </SelectParameters>
                      </asp:SqlDataSource>


                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer justify-content-between">
                      <p class="text-muted">Sub-Total: <label class="col-form-label" id="lbl_SubTotal" runat="server"> [123]</label> </p>
                      <p class="text-muted">Tax (6%): <label class="col-form-label" id="lbl_tax" runat="server"> [tax]</label> </p>
                      <b>Final Price: <label class="col-form-label" id="lbl_Total" runat="server"> [total]</label>  </b>
                      <asp:Button ID ="btn_checkout" class="btn btn-success" runat="server" Text="Proceed to Checkout" OnClick="btn_checkout_Click"/>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>                                            
                  </div>

                </div>
                  </div>
                </div>
        <!-- /END OF CART MODAL -->




        <script>

        </script>


    </form>
</body>
</html>

 