<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  
   <!--- CUSTOM ERRORS-->
    <customErrors mode="Off" defaultRedirect="404.aspx">
      <error statusCode="404" redirect="404.aspx" />
      <error statusCode="405" redirect="405.aspx" />
    </customErrors>
  <!--- /CUSTOM ERRORS-->    
      
  </system.web>
  
  <!-- Allow for large images to be handled by the server without crashing  -->  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" /> <!-- size in bytes default: 1GB -->
      </requestFiltering>
    </security>
  </system.webServer>    
  
  <!-- APP SETTINGS | EMAIL -->
  <appSettings>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
    <!-- PDF -->
    <add key="localhost" value="https://localhost:44310/" />
    <add key="pdfpath" value="\PDF\" />
    
    <!-- SERVIÇO EMAIL-->
    <add key="host" value="smtp-mail.outlook.com" />
    <add key="port" value="587" />
    
    <!-- EMAIL -->
    <add key="username" value="Filipe.Rosario.T0117007@edu.atec.pt" />
    <add key="password" value="********" />
    <!-- nao esquecer de pôr pw-->


  </appSettings>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
