body {
    background-color: #EDF6FB;
}

#navbar-pharma{
    border-radius: 20px;
}

.carousel .item {
    height: 180px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 180px;
}